@using Esoterica.Globals
<div>
	<h1 class="text-center text-sm">Casting (@Player.Focus /s)</h1>
	<div class="side-bar min-w-52 pt-4 pb-4 gap-y-2 min-h-72 border-t-2 border-b-2 flex flex-col">

		@foreach (var item in Game.Casting.CastingQueue)
		{
			<div class="text-white w-full border-2 border-gray-400 p-2 flex flex-col justify-center"
				@onclick="AbortCast">
				<div>@item.Name</div>
				<div class="text-sm">(@item.CastingProgress/@item.MaxProgress)</div>
			</div>
		}
	</div>
</div>

@code {
	protected override void OnInitialized()
	{
		Game.ProcessTick += StateHasChanged;
	}

	protected void AbortCast()
	{

	}
}