<div class="w-full flex items-center border-b-2 border-solid border-white p-3 flex-col">
	<p class="text-lg text-white">Magicules: 100</p>

	<div class="p-2 text-xs text-white">	
		<a href="sigils">Sigils</a>
		<a href="sigils">Servitors</a>
		<a href="sigils">Crystals</a>
		<a href="stats">Stats</a>	
		<a href="sigils">Settings</a>
	</div>

</div>