html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: var(--background);
}

h1 {
    color: var(--text-color);
}

h6 {
    color: var(--text-color);
}

a {
    color: var(--text-color);
}

a, .btn-link {
    color: #0071c1;
}

:root {
    --background: #1b1b1b;
    --text-color: #f1f1f1;
}

code {
    color: #c02d76;
}

/* button {
    color: #fff !important;
    border: solid !important;
    border-width: 1px !important;
    border-radius: 15px;
    padding: .5rem !important;
} */
