@page "/sigils"
@using Esoterica.Globals

<PageTitle>Sigil</PageTitle>

<div class="w-full">
	<h1 class="text-center text-md pb-2 border-b-2">Sigils</h1>

	@for (int iteration = 0; iteration < Game.Sigils.SigilList.Count; iteration++)
	{
		int i = iteration;
		<div class="upgrades">
			<div class="upgrade-box">
				<h6>@Game.Sigils.SigilList[i].Name [@Player.SigilCount[i]]</h6>
				<div @onclick="() => Game.Sigils.BuySigil(i)">
					<div> Cast </div>
					<div>Cost [@Game.Sigils.SigilList[i].CostText]</div>
				</div>
			</div>
		</div>
	}

</div>

@code {
	protected override void OnInitialized()
	{
		Game.ProcessTick += StateHasChanged;
	}
}


<style lang="css" scoped>
	.upgrades {
		display: flex;
		flex-direction: column;
		left: 0;
	}

	.upgrades div {
		display: flex;
		flex-direction: row;
		padding: 1em;
		align-items: center;
		justify-content: center;
	}

	.upgrade-box h6 {
		padding-left: 5px;
		font-size: small;
	}

	.upgrade-box div {
		display: flex;
		flex-direction: column;
		margin-left: auto;
		justify-content: center;
		border: solid 1px;
		border-radius: .75rem;
		padding: .25rem .25rem .25rem .25rem;
		min-width: 14rem;
		color: white;
	}

	.upgrade-box div div {
		margin: 0%;
		border: none;
		padding: 0%;
		font-size: small;
	}
</style>