@page "/sigils"

<PageTitle>Sigil</PageTitle>

<div class="flex flex-col min-w-full min-h-full">
	<h1 class="text-center">Sigil</h1>
	<div class="">
		<h6>Lesser Sigil</h6>
		<button class="">Buy Sigil</button>
	</div>
</div>
